extends ../../layouts/default
include ../../mixins/box-head

block content
    .container
        .row
            .col-md-12
                +box-head("Danh sách bài hát yêu thích")
                p.text-muted.text-center Thư viện nhạc mới nhất dành cho bạn

                //- Thanh tìm kiếm ở giữa
                form#searchForm.mx-auto.d-flex.align-items-center(
                    role="search",
                    action="/song/search/result",
                    method="GET"
                )
                    .search-container.position-relative
                        input#searchInput.form-control.rounded-pill(
                            type="text",
                            name="q",
                            placeholder="Tìm bài hát...",
                            autocomplete="off",
                            value=keyword
                        )
                        button#searchBtn.btn.btn-link.position-absolute(type="submit")
                            i.fas.fa-search

                        .inner-suggest
                            .inner-list

                .row.g-4.mt-3
                    each song in songs
                        .col-md-6.col-lg-4.col-xl-3
                            .song-card
                                .song-card-img(style=`background-image: url('${song.avatar}')`)
                                    .overlay
                                        h5.title
                                            a(href=`/song/detail/${song.slug}`)= song.title
                                        p.singer
                                            i.fas.fa-microphone-alt(aria-hidden="true")
                                            |  #{song.singerId.fullName ? song.singerId.fullName : 'Unknown'}
                                        .meta
                                            span.meta-item.button-favourite(
                                                class={active: user.listFavoritesSong.listId.includes(song._id)}
                                            )
                                                i.far.fa-heart
                                                span(data-id=song._id) Yêu thích
                                            span.time
                                                i.far.fa-clock(aria-hidden="true")
                                                |  #{song.time ? song.time : '00:00'}
